<h1>{{title}}</h1>

<div class="row">
    <form class="col s12" ng-submit="login()">
    <div class="row">
        <div class="input-field col s6">
          <input placeholder="User Name" id="username" type="text" class="validate">
          <label for="username">User Name</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
</div>
