<h1>{{title}}</h1>

<div class="row">
  <form class="col s12" ng-submit="register()">
 		<div class="row">
      <div class="input-field col s6">
        <input id="name" name="username" type="text" class="validate" ng-model="userName">
        <label for="username">User Name</label>
      </div>
      <div class="input-field col s6">
        <input id="password" name="password" type="password" class="validate" ng-model="password">
        <label for="password">Password</label>
      </div>
    </div>
 		<div class="row">
      <div class="input-field col s6">
        <input id="name" name="name" type="text" class="validate" ng-model="name">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
        <input id="email"  name="email" type="email" class="validate" ng-model="email">
        <label for="email">Email</label>
      </div>
    </div>
 		<div class="row">
      <div class="input-field col s6">
        <select id="gender" name="gender" ng-model="gender">
        	<option value="" disabled selected>Choose Option</option>
        	<option value="male">Male</option>
        	<option value="female">Female</option>
        	<option value="other">Prefer not to say</option>
        </select>
        <label for="gender">Gender</label>
      </div>
      <div class="input-field col s6">
        <select id="genPref" name="genPref" ng-model="genPref">
        	<option value="" disabled selected>Choose Option</option>
        	<option value="male">Male</option>
        	<option value="female">Female</option>
        	<option value="other">I'm not picky</option>
        </select>
        <label for="genPref">Gender Preference</label>
      </div>
    </div>
    <div class="row">
    	<div class="input-field col s6"> Interests:
    		<input type="text" name="interests" ng-model="interests[0]">
    		<input type="text" name="interests" ng-model="interests[1]">
    		<input type="text" name="interests" ng-model="interests[2]">
    	</div>
    	<div class="input-field col s6"> About:
    		<textarea ng-model="about" class="materialize-textarea" type="text" name="about"></textarea>
    	</div>
    </div>
    <div class="row">
    	<div>
    		<label for="picture">Picture URL</label>
    		<input id="picture" type="text" name="picture" ng-model="picture">
    	</div>
    </div>
    <button type="submit" class="btn">Register</button>
  </form>
</div>

<script>
     $(document).ready(function() {
        $('select').material_select();
    });
  </script>
